.grass {
  background-color: rgb(155, 203, 80);
}

.poison {
  background-color: rgb(186, 127, 200);
  color: antiquewhite;
}

.rock {
  background-color: rgb(163, 143, 33);
  color: antiquewhite;
}

.fire {
  background-color: rgb(255, 125, 37);
}

.electric {
  background-color: rgb(238, 213, 53);
}

.ground {
  background-color: rgb(209, 187, 64);
  color: antiquewhite;
}

.water {
  background-color: rgb(69, 146, 195);
  color: antiquewhite;
}

.bug {
  background-color: rgb(110, 156, 60);
  color: antiquewhite;
}

.flying {
  background-color: rgb(125, 192, 211);
}

.normal {
  background-color: rgb(163, 172, 175);
  color: antiquewhite;
}

.fairy {
  background-color: rgb(253, 185, 233);
}

.fighting {
  background-color: rgb(213, 113, 35);
  color: antiquewhite;
}

.psychic {
  background-color: rgb(243, 102, 185);
}

.steel {
  background-color: rgb(158, 183, 184);
  color: antiquewhite;
}

.ice {
  background-color: rgb(81, 195, 231);
}

.ghost {
  background-color: rgb(123, 98, 163);
  color: antiquewhite;
}

.dragon {
  background-color: rgb(241, 110, 87);
  color: antiquewhite;
}

.dark {
  background-color: rgb(112, 112, 112);
  color: antiquewhite;
}