* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  background-image: linear-gradient(to right, rgb(39, 38, 111), rgb(226, 121, 15), 80%, rgb(39, 38, 111));
}

.heading {
  width: 20em;
  margin: auto;
  display: table;
}

.heading h1 {
  font-size: 5em;
  color: transparent;
  width: fit-content;
  margin: 0.5em auto;
  border-bottom: 1px solid black;

  background: url(https://image.winudf.com/v2/image/Y29tLnRvcHJha3Jpbmd0b25lZGV2LnBva2Vtb253YWxscGFwZXJzYW5kYmFja2dyb3VuZHBpY3R1cmVzX3NjcmVlbl8wXzE1Mjg3NTYzMDBfMDIx/screen-0.webp?fakeurl=1&type=.webp);
  background-size: contain;
  background-clip: content-box;
  -webkit-background-clip: text;

}

.cards {
  display: table;
  border-collapse: separate;
  border-spacing: 1em;
  margin: auto;
}

.cards .rows {
  display: table-row;
}

.card {
  width: 300px;
  padding: 0.8em;
  display: table-cell;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0);
  background-color: rgb(173, 216, 230);
}

.card:hover {
  cursor: pointer;
  background-color: hsl(195, 53%, 72%);
  border: 1px solid hsl(195, 53%, 50%);
}

.card .image {
  height: 10em;
  margin-bottom: 0.5em;
  background-color: rgb(215, 235, 242);
  text-align: center;
}

.image img {
  height: 100%;
}

.card .data table {
  width: 100%;
  border-collapse: collapse;
}

.card .data h3 {
  font-weight: 500;
  margin: 0.2em;
  text-align: center;
}

.card .data tr {
  border-bottom: 1px dashed rgba(1, 1, 1, 0.5);
}

.card .data th {
  text-align: left;
  padding: 0.3em 0;
  font-weight: 400;
}

.card .data td {
  text-align: right;
  padding: 0.3em 0;
  font-weight: 300;
}

.data span {
  border-radius: 5px;
  padding: 0.1em 0.5em;
  margin: 0 0.2em;
}